.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar h1{
    color:rgb(9, 155, 9)
}
.navbar .profile{
    width: 40px;
    border-radius: 50%;
}